<div class="mt-4">
  <h4>List of your saved credit cards:</h4>
  {% graphql g = "modules/payments/get_credit_cards_by_external_id", external_id: context.current_user.id %}
<table class="table">
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>Last 4</th>
      <th>Exp</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
    {% for credit_card in g.customizations.results  %}
      {% assign p = credit_card.properties %}
      <tr>
        <td>{{ credit_card.id }}</td>
        <td>{{ p.brand }}</td>
        <td>{{ p.last4 }}</td>
        <td>{{ p.exp_month }}/{{ p.exp_year }}</td>
        <td>
          {% include 'modules/payments/create_payment', credit_card_id: credit_card.id, amount: 500 %}
        </td>
        <td>
          {% include 'modules/payments/api_create_payment', credit_card_id: credit_card.id, amount: 1000 %}
        </td>
        <td>
          {% include 'modules/payments/delete_credit_card', id: credit_card.id %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
